
*,*::before,*::after{
    font-family:"DejaVu Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.wrapper{
    display: grid;
    grid-template-columns:3.5fr 1.5fr;
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100vh;
}

#right-toolbar-container > .texts{
  height: 200px;
}

.texts > textarea{
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: #fff;
}

.button-grid-container{
    --grid-row:1;
    --grid-column:1;
    display: grid;
    grid-template-columns: repeat(var(--grid-column), 50px);
    grid-template-rows: repeat(var(--grid-row),50px);
    gap: 0;
    
}
button{
    min-width: 50px;
    height: 50px;
    margin: 0;
    pointer-events: all;
    border: solid 1px black;
    border-collapse: collapse ;
    background-color: #EEEEEE;
}
#back{
  width: 70px;
}
#load{
  pointer-events: all;
}
input[type='checkbox']{
    width: 50px;
    height: 50px;
    margin: 0;

}
.column{
  overflow: auto;
    background-color: rgba(255, 255, 255, 0.8);
}

#input #text{
    width: 100%;
    overflow: hidden;
    line-height: 2;

}

#input #text:focus .math{
  background-color: #e5f2fc;
}

img{
  width: fit-content;
  height: fit-content;
}
iframe{
  width: 100%;
  height: 660px;
  overflow: scroll;
  border: none;
  user-select: none;
  /*-ms-overflow-style: none; 
  scrollbar-width: none;*/
}

iframe::-webkit-scrollbar {
  display: none; 
}
    
iframe body {
  overflow: scroll; 
}
    
  
.toolbar{
    background-color: #EEEEEE;
}

#output{
    height: 100vh;
    width: 100%;
    overflow: scroll;
    pointer-events: all;
}
#content-container{
  height: 100vh;
  width: 100%;
  overflow: scroll;
  pointer-events: all;
}
p.statement{
  cursor: pointer;
  pointer-events: all;
}
.result{
    color: blue;
    font-style: italic;
}

/*https://www.w3docs.com/snippets/css/how-to-customize-file-inputs.html*/

label.customized-fileupload input[type="file"] {
  position: absolute;
  top: -1000px;
}
.customized-fileupload {
  cursor: pointer;
  min-width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  display: inline-block;
  background-color: #EEEEEE;
  border: solid 1px black;
}

/*From w3schools.com https://www.w3schools.com/howto/howto_css_switch.asp*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    pointer-events: all;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  @page { 
    size: auto;
    margin: 5mm 25mm;
  }
  @media print{
    /*#button-grid-container > * {
      display: none;
    }*/
    .wrapper{
      grid-template-columns: 1fr;
    }
    #right-toolbar-container > * {
      display: none;
    }
    #input > * {
      display: none;
    }
    #output{
      width: 100%;
      height: 100%;
    }
    title{
      display: none;
    }
     /* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    #output::-webkit-scrollbar {
      display: none;
    }
    
   
    /* Hide scrollbar for IE, Edge and Firefox */
    #output {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    
  }